/*create a light blue background*/
body {
    background-color: #d0e4fe;
}
/*create a dark blue background for the header*/
header {
    background-color: #1c4587;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border: black 1px solid;
}
/*create a dark blue background for the navigation bar*/
nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;      
}
/*h2 is on monospace font and is in box*/
h2 {
    font-family: monospace;
    font-size: 1.5em;
    background-color: #1c4587;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    
}
/*create a dark blue background for the section*/
section {
    width: 100%;
    float: left;
 
}
/*create a dark blue background for the footer*/
footer {
    background-color: #1c4587;
    color: #ffffff;
    clear: both;
    text-align: center;
    padding: 10px; 
}

/* ul has flexbox properties */
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}   
li {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 2;
    list-style-type: none;
}
/* a has flexbox properties and is a box with a border */
a {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: 300px;
    width: 2;
    border: 5px solid black;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-decoration: unset;
    font-size: 1.5em;
    background-color: #1c4587;

}   
#item1 {

    width: 600px;

}